

* {
  color: rgba(47, 54, 64,1.0);
}

body {
  background: rgba(251, 197, 49,0.5);
}

a {
  text-decoration: none;
  color: #fff;
  transition: all 0.3s ease;
}

a:hover {
  text-decoration: line-through;
}

.m-bottom {
  margin-bottom: 48px;
}

h1, h2, h3{
color: rgba(25, 42, 86,1.0);
}

.container {
  margin-top: 50px;
}


.jumbotron {
  height: 500px;
  width: 100%;
}

.jumbotron::after{
  height: 500px;
  content: "";
  background-image: url('../images/6616.png');
  background-size: 110%;
  background-position: center center;
  opacity: 0.5;
  top: 0;
  left: 0;
  bottom: 0;
  right: 0;
  position: absolute;
  z-index: -1;
}

.jumbotron h1,
.jumbotron h2 {
  color: #fff;
  text-shadow: 2px 2px 4px rgba(53, 59, 72,0.8);
}

button {
  height: 48px;
  width: 180px;
  text-align: center;
  color: rgba(25, 42, 86,1.0);
  font-size: 1rem;
  font-weight: 200;
  background: transparent;
  border: 1px solid rgba(25, 42, 86,1.0);
  border-radius: 4px;
  margin: 20px 0;
  cursor: pointer;
  transition: all 0.3s ease;
  outline: none;
}

button:hover {
  background: #fff;
  color: rgba(25, 42, 86,1.0);
}

button:active {
  outline: none;
}

.btn-secondary {
  border: 1px solid #FE7880;
  color: #FE7880;
}

.btn-secondary:hover {
  background: #FE7880;
  color: #fff;
}

.line {
  height: 1px;
  width: 100%;
  background: #D6D6D8;
  margin: 80px 0;
}


pre {
  margin-top: 30px;
  overflow: auto;
  background: #fff;
  border-radius: 4px;
  border: 1px solid #D8DCE6;
  padding: 24px 0;
}

code,
.tag,
.el,
.name,
.content,
.comment {
  font-family: monospace;
  font-size: 1.1rem;
  line-height: 1.2rem;
  color: #636366;
}

.el {
  color: #FE7880;
}

.name {
  color: #F9B42D;
}

.content {
  color: #75C050;
}

.comment {
  color: #B6CAD2;
}

footer {
  background: #FE7880;
  background: #F38BD3;
  background-image: linear-gradient(#FE7880, #F38BD3);
  padding-bottom: 80px;
}

footer p {
  color: #fff;
}

/* IMAGES */

.img {
  background-size: contain;
  background-repeat: no-repeat;
}

.img-logo {
  background-image: url('../images/vintage-icon-png-19164.png');
  background-size: contain;
  height: 150px;
  width: 150px;
  padding-bottom: 8px;
}

/* === MEDIA QUERIES === */

@media only screen and (min-width: 720px) {
  .jumbotron {
    height: 500px;
  }
}
